/*.centralizar {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh; /* Altura total da viewport *
}
#centralizar{
    
    
    background-color: lightblue;
    border: solid 2px black;
    width: 100px;
    height: 100px;
   
    text-align: center;
    vertical-align: middle;
    line-height: 100px; /* Alinha o texto verticalmente *
    
}*/
body{
    background-image: url(fotos/motanhas.jpg);
    background-size: cover;         /* Ajusta a imagem para cobrir todo o elemento */
    background-repeat: no-repeat;   /* Evita que a imagem se repita */
    background-position: center;    /* Centraliza a imagem */
}
.campos{
    position: relative;
    margin-top: 20px;
   
    
}
label{
    color: green;
    padding: 0.5px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 1em;
    pointer-events: none;
    transition: .3s;



}
input{
    color: white;
    border: 2px solid green;
    background: transparent;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    padding: 0 1rem;
    outline: none;
}
input:focus~label, input:valid~label{
    top: 0;
    background-color:rgb(52, 50, 50);
    font-size: 1rem;
}

button{
    background-color: green;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;

}
button:hover{
    background-color: lightgreen;
    color: white;
}
